In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_csv("files/merchant_fill.csv", index_col = 0)
df.head()

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
2,Nouvelle mode d'été femmes robe décontractée c...,4.90,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
3,Summer Women s Fashion Lace Up Tie Pants Plus...,4.93,6,100,0,3.77,47,22.0,7.0,8.0,5.0,5.0,0,0,0,"Summer,Shorts,Lace,pants,Waist,Short pants,Yel...",red,S,Standard Shipping,1,0,41,50,CN,sarahouse,83% Positive Feedback,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5d58daef3159a812b05933d2,5d58daef3159a812b05933d2,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0
4,Nouvelle mode d'été femmes robe décontractée c...,5.65,10,100,1,2.86,7,1.0,1.0,2.0,2.0,1.0,0,0,0,"Summer,Fashion,Necks,Skirts,Dress,Loose,Women'...",black,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5e9fa7de39682a0043ab7898,5e9fa7de39682a0043ab7898,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0

In [4]:
df.groupby("origin_country").mean(numeric_only=True)

,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,merchant_rating_count,merchant_rating,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
origin_country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AT,7.000000,6.000000,100.000000,0.000000,5.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,2.000000,0.000000,140.000000,50.000000,0.000000,5.000000,1.000000,100.000000,100.000000,5.000000,0.000000,7.000000,6.000000,-16.000000,-16.000000,0.000000
CN,8.341629,23.294195,4387.364776,0.432058,3.825343,899.473615,449.311141,181.937500,135.375679,63.758152,95.977582,0.019129,0.074538,0.012533,2.352902,0.002639,40.254617,49.814644,24989.861478,4.034729,2.600264,11458.867414,4387.369393,4.034745,24989.861478,8.341854,23.294156,26.042876,26.004037,899.502639
GB,9.000000,8.000000,1000.000000,1.000000,4.030000,248.000000,127.000000,59.000000,26.000000,15.000000,21.000000,0.000000,0.000000,0.000000,3.000000,0.000000,45.000000,50.000000,1722.000000,3.906504,1.000000,1000.000000,1000.000000,3.907000,1722.000000,9.000000,8.000000,-12.000000,-12.000000,248.000000
SG,3.380000,3.500000,10050.000000,1.000000,4.010000,876.000000,369.500000,162.000000,132.000000,73.500000,139.000000,0.000000,0.000000,0.000000,1.000000,0.000000,20.000000,50.000000,3791.000000,3.918755,2.000000,20100.000000,10050.000000,3.919000,3791.000000,3.380000,3.500000,4.000000,4.000000,876.000000
US,9.397097,29.612903,1405.161290,0.451613,3.800000,258.645161,128.225806,50.516129,35.387097,17.806452,26.709677,0.000000,0.129032,0.032258,2.516129,0.000000,49.451613,50.000000,4266.903226,4.022634,1.451613,1950.322581,1405.161290,4.022645,4266.903226,9.397097,29.612903,40.419355,40.387097,258.677419
VE,8.298000,35.400000,70.000000,1.000000,2.688000,8.400000,4.000000,0.600000,0.800000,1.600000,1.400000,0.000000,0.000000,0.000000,1.800000,0.000000,36.800000,50.000000,257.800000,3.771094,2.200000,130.000000,70.000000,3.771400,257.800000,8.298000,35.400000,49.800000,49.800000,8.400000

In [8]:
df.groupby("origin_country")["price"].mean()

origin_country
AT    7.000000
CN    8.341629
GB    9.000000
SG    3.380000
US    9.397097
VE    8.298000
Name: price, dtype: float64

In [9]:
df.groupby("origin_country")["price"].mean().reset_index()

  origin_country     price
0             AT  7.000000
1             CN  8.341629
2             GB  9.000000
3             SG  3.380000
4             US  9.397097
5             VE  8.298000

In [7]:
a = "hola"

In [10]:
df.groupby("origin_country")[["price", "retail_price"]].mean()

                   price  retail_price
origin_country
AT              7.000000      6.000000
CN              8.341629     23.294195
GB              9.000000      8.000000
SG              3.380000      3.500000
US              9.397097     29.612903
VE              8.298000     35.400000

In [19]:
df.groupby("origin_country").agg({"price":["min"], "retail_price": ["max"]})

               price retail_price
                 min          max
origin_country
AT              7.00            6
CN              1.00          252
GB              9.00            8
SG              2.83            4
US              1.67           84
VE              4.83           51

In [23]:
df.groupby("origin_country").count()

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
origin_country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AT,1,1,1,1,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
CN,1516,1516,1516,1516,1516,1516,1516,1472,1472,1472,1472,1472,1516,1516,1516,1516,1477,1503,1516,1516,1516,1516,1516,1512,1237,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516,1516
GB,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SG,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
US,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,30,31,31,31,31,31,31,31,24,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
VE,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5

In [25]:
df.groupby("origin_country")["title"].count().reset_index()

  origin_country  title
0             AT      1
1             CN   1516
2             GB      1
3             SG      2
4             US     31
5             VE      5

In [21]:
df["origin_country"].value_counts()

origin_country
CN    1516
US      31
VE       5
SG       2
AT       1
GB       1
Name: count, dtype: int64

In [27]:
df.sample(10)

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count
693,2020 NOUVELLES Femmes De Mode Imprimé Floral S...,14.00,84,100,1,4.13,60,35.0,10.0,7.0,4.0,4.0,0,0,0,"Summer,harem,Plus Size,Spring/Autumn,Casual pa...",white,S..,Livraison standard,3,0,43,50,CN,idooryou,77 % avis positifs,849,3.707892,5d44cb7ea5f07b2d00607909,https://www.wish.com/c/5e670a1bfdfc802659966971,5e670a1bfdfc802659966971,1,100,100.0,3.708,849.0,14.00,84.00,84.0,84.00,60.0
1029,2020 été nouvelle mode femmes Tie-dye dégradé ...,8.00,7,1000,0,3.91,102,50.0,20.0,15.0,7.0,10.0,0,0,0,"shirtsforwomen,Summer,Fashion,Shirt,Tops,short...",blue,S,Livraison standard,3,0,37,50,CN,dadaclothes,88 % avis positifs,2076,4.097303,59c7610621064f2f6c8c9fe7,https://www.wish.com/c/5ea1a307f5df8f1f851fda62,5ea1a307f5df8f1f851fda62,2,2000,1000.0,4.097,2076.0,8.00,7.00,-14.0,-14.00,220.0
567,Débardeur Punk pour femmes avec imprimé crâne ...,6.00,6,5000,1,3.92,609,306.0,112.0,88.0,41.0,62.0,0,0,0,"Summer,Fashion,Tank,skull,Tops,punk,tank top,P...",purple,XS,Livraison standard,2,0,38,50,CN,xingle,83 % avis positifs,1411,3.923459,578793716b944637fa356bb4,https://www.wish.com/c/5d16d575190e3f48ec7061ed,5d16d575190e3f48ec7061ed,1,5000,5000.0,3.923,1411.0,6.00,6.00,0.0,0.00,609.0
593,New Women Fashion Summer Two Pieces Set Ladies...,13.00,11,100,0,3.75,4,1.0,1.0,2.0,0.0,0.0,0,0,0,"Summer,Leggings,Shorts,crop top,Shirt,Fitness,...",winered,XS,Livraison standard,3,0,43,50,CN,yiliannvhai,NaN,18029,4.100616,5832e5632f5e534c23488f06,https://www.wish.com/c/5eaf98de05a9b4014db48b90,5eaf98de05a9b4014db48b90,4,11100,2775.0,4.101,18029.0,11.50,17.75,20.0,19.50,521.0
337,Tissu taille formateur gilet chaud shaper été ...,5.66,6,100,0,3.08,13,3.0,3.0,3.0,0.0,4.0,0,0,0,"slimming,wasitcincher,Fashion,waistgirdle,slim...",black,S,Expediere Standard,2,0,35,50,CN,sklioppp,86% Feedback pozitiv,2782,4.069015,583da4b58108913e6c79a32e,https://www.wish.com/c/5eb0b91db0d5d210fe8ac2ff,5eb0b91db0d5d210fe8ac2ff,6,500,83.0,4.069,2782.0,6.14,7.33,22.0,22.33,29.0
1380,Summer Short Sleeve Slim Bodycon Women Sexy T-...,4.70,19,100,0,3.87,15,7.0,3.0,3.0,0.0,2.0,0,0,0,"Summer,Shorts,Shirt,Elastic,teetop,Tops,short ...",black,S,Livraison standard,1,0,41,50,CN,sweetfeeling,89 % avis positifs,14327,4.192085,5ab9f77bea8764355800e5a2,https://www.wish.com/c/5b9f1a4bd143a816d746677a,5b9f1a4bd143a816d746677a,1,100,100.0,4.192,14327.0,4.70,19.00,76.0,76.00,15.0
931,Femmes Robes D'été De Mode Col En V Dos Nu Rob...,12.00,11,100,1,5.00,0,NaN,NaN,NaN,NaN,NaN,0,0,0,"Summer,Plus Size,partydressesforwomen,Lace,rob...",yellow,XS,Livraison standard,3,0,25,50,CN,ahighqlty,100 % avis positifs,6,4.500000,5e70afae21861a90a4e6b7f0,https://www.wish.com/c/5f03643cc00703c46d6745f0,5f03643cc00703c46d6745f0,2,200,100.0,4.500,6.0,12.00,11.00,-9.0,-9.00,0.0
501,Robe de plage d'été décontractée à manches cou...,5.85,5,10000,0,3.55,1004,402.0,172.0,168.0,96.0,166.0,0,0,0,"Mini,short sleeve dress,Summer,plus size dress...",black,XS,Livraison standard,2,0,20,50,CN,champion_28,84 % avis positifs,7314,3.938201,5810c46f02b01e15f8a10e38,https://www.wish.com/c/5c2320b1c68b9858ff6fff97,5c2320b1c68b9858ff6fff97,2,20000,10000.0,3.938,7314.0,5.93,5.50,-8.0,-8.50,787.0
532,Robe mi-longue en denim à manches courtes pour...,11.00,10,100,0,3.29,38,13.0,5.0,8.0,4.0,8.0,0,0,0,"Jeans,Plus Size,Sleeve,Summer,Dress,Denim,summ...",blue,M.,Livraison standard,3,0,80,50,CN,sophiepretty,81 % avis positifs,168,3.732143,5d3da852e4b65d3e801e9b5d,https://www.wish.com/c/5e843aabcde5b602e21d1e83,5e843aabcde5b602e21d1e83,3,300,100.0,3.732,168.0,11.00,10.00,-10.0,-10.00,45.0
695,Women Loose Casual Printed V Neck Long Dress P...,5.89,5,5000,0,3.25,392,127.0,65.0,69.0,40.0,91.0,0,0,0,"Summer,Plus Size,summer dress,Necks,long dress...",red,XS,Livraison standard,2,0,24,50,CN,panemily,81 % avis positifs,4295,3.849593,5b1522ab7b94e12ee3d455c9,https://www.wish.com/c/5e943811e6cd6f1680c64414,5e943811e6cd6f1680c64414,3,20000,6667.0,3.850,4295.0,6.59,5.67,-16.0,-16.00,549.0

In [28]:
dato = 14.00

lista_datos = [8,12,23,9,7]

In [32]:
def caro(x):

    if x > 10:
        print("caro")
        return "caro"
    
    else:
        print("barato")
        return "barato"

In [30]:
caro(dato)

'caro'

In [33]:
for num in lista_datos:
    caro(num)

barato
caro
caro
barato
barato

In [34]:
def caro(x):

    if x > 10:
        return "caro"
    
    else:    
        return "barato"

In [37]:
df["etiqueta"] = df["price"].apply(caro)

In [38]:
df[["price", "etiqueta"]].head()

   price etiqueta
0  16.00     caro
1   8.00   barato
2   4.90   barato
3   4.93   barato
4   5.65   barato

In [39]:
df.head()

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,etiqueta
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0,caro
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato
2,Nouvelle mode d'été femmes robe décontractée c...,4.90,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato
3,Summer Women s Fashion Lace Up Tie Pants Plus...,4.93,6,100,0,3.77,47,22.0,7.0,8.0,5.0,5.0,0,0,0,"Summer,Shorts,Lace,pants,Waist,Short pants,Yel...",red,S,Standard Shipping,1,0,41,50,CN,sarahouse,83% Positive Feedback,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5d58daef3159a812b05933d2,5d58daef3159a812b05933d2,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato
4,Nouvelle mode d'été femmes robe décontractée c...,5.65,10,100,1,2.86,7,1.0,1.0,2.0,2.0,1.0,0,0,0,"Summer,Fashion,Necks,Skirts,Dress,Loose,Women'...",black,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5e9fa7de39682a0043ab7898,5e9fa7de39682a0043ab7898,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato

In [40]:
test = "https://www.wish.com/c/5e9ae51d43d6a96e303acdb0"

In [41]:
test.split("/")

['https:', '', 'www.wish.com', 'c', '5e9ae51d43d6a96e303acdb0']

In [42]:
test.split("/")[-1]

'5e9ae51d43d6a96e303acdb0'

In [43]:
def limpiar(dato):

    return dato.split("/")[-1]

In [44]:
limpiar(test)

'5e9ae51d43d6a96e303acdb0'

In [46]:
df["product_url"].apply(limpiar)

0       5e9ae51d43d6a96e303acdb0
1       58940d436a0d3d5da4e95a38
2       5df2576d68963c1660471f9a
3       5d58daef3159a812b05933d2
4       5e9fa7de39682a0043ab7898
                  ...
1568    5a6ac97e5983516f0f0dbf85
1569    5ccea5c767c5606e6f8022b1
1570    5e60eee21ed938ec8c3da0af
1571    5e74be96034d613d42b52dfe
1572    5e857321f53c3d2d8f25e7ed
Name: product_url, Length: 1573, dtype: object

In [47]:
df.head(3)

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,etiqueta
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0,caro
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato
2,Nouvelle mode d'été femmes robe décontractée c...,4.9,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato

Vamos a hacer una función que reciba el precio y calcule la diferencia con el retail_price, si la diferencia es igual o menor que 2 que nos devuelva "barato" y todo lo demás "caro"

In [48]:
p = 16.0
r_p = 14

In [49]:
def diferencia(p1, p2):

    dif = p1 - p2

    if dif <= 2:
        return "Barato"
    
    else:
        return "caro"

In [50]:
diferencia(p, r_p)

'Barato'

In [52]:
df.apply(lambda fila: diferencia(fila["price"], fila["retail_price"]), axis=1)

0       Barato
1       Barato
2       Barato
3       Barato
4       Barato
         ...
1568    Barato
1569    Barato
1570    Barato
1571    Barato
1572    Barato
Length: 1573, dtype: object

In [57]:
df.apply(lambda patata: diferencia(patata["price"], patata["retail_price"]), axis=1)

0       Barato
1       Barato
2       Barato
3       Barato
4       Barato
         ...
1568    Barato
1569    Barato
1570    Barato
1571    Barato
1572    Barato
Length: 1573, dtype: object

In [53]:
diccionario = {"k1": "v1", "k2":"v2"}

In [ ]:
def ejemplo_dic(dato, d):
    
    return d[dato]

In [55]:
ejemplo_dic("k1", diccionario)

'v1'

In [ ]:
def ejemplo_dic(dato):
    diccionario = {"k1": "v1", "k2":"v2"}
    return diccionario[dato]

In [ ]:
df[col].apply(ejemplo_dic)

In [ ]:
df.apply(lambda fila: ejemplo_dic(fila[col], diccionario), axis=1)

In [59]:
x = 12.0
try:
    x.split("/")
except:
    print("no se puede")

no se puede

In [60]:
df["origin_country"].unique()

array(['CN', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [ ]:
mapa = {"CN":"Canada"}

In [62]:
df["origin_country_2"] = df["origin_country"].replace(mapa)

In [64]:
df[["origin_country", "origin_country_2"]]

     origin_country origin_country_2
0                CN           Canada
1                CN           Canada
2                CN           Canada
3                CN           Canada
4                CN           Canada
...             ...              ...
1568             CN           Canada
1569             CN           Canada
1570             CN           Canada
1571             CN           Canada
1572             CN           Canada

[1573 rows x 2 columns]

In [65]:
df["origin_country_2"].unique()

array(['Canada', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [77]:
mapa = {"AT":"Austria"}

In [81]:
df["origin_country_3"] = df["origin_country"].replace("AT", "Austria")

In [82]:
df["origin_country_3"].unique()

array(['CN', 'US', nan, 'VE', 'Austria', 'SG', 'GB'], dtype=object)

In [80]:
df.head(3)

,title,price,retail_price,units_sold,uses_ad_boosts,rating_sold,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,badge_local_product,badge_product_quality,badge_fast_shipping,tags,product_color,product_variation_size_id,shipping_option_name,shipping_option_price,shipping_is_express,countries_shipped_to,inventory_total,origin_country,merchant_name,merchant_info_subtitle,merchant_rating_count,merchant_rating,merchant_id,product_url,product_id,listed_products,total_units_sold,mean_units_sold_per_product,rating_employee,merchant_ratings_count,mean_product_prices,mean_retail_prices,average_discount,mean_discount,mean_product_ratings_count,etiqueta,origin_country_2,origin_country_3
0,2020 Summer Vintage Flamingo Print Pajamas Se...,16.0,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,0,0,0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,M,Livraison standard,4,0,34,50,CN,zgrdejia,NaN,568,4.128521,595097d6a26f6e070cb878d1,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,5e9ae51d43d6a96e303acdb0,1,100,100.0,4.129,568.0,16.00,14.00,-14.0,-14.00,54.0,caro,Canada,CN
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,8.0,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,0,0,0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,XS,Livraison standard,2,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/58940d436a0d3d5da4e95a38,58940d436a0d3d5da4e95a38,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato,Canada,CN
2,Nouvelle mode d'été femmes robe décontractée c...,4.9,8,1000,1,3.83,99,43.0,18.0,23.0,8.0,7.0,0,0,0,"Summer,Fashion,Necks,Beach,Dress,Loose,beach d...",white,XXS,Livraison standard,1,0,41,50,CN,sarahouse,83 % avis positifs,17752,3.899673,56458aa03a698c35c9050988,https://www.wish.com/c/5df2576d68963c1660471f9a,5df2576d68963c1660471f9a,6,21400,3567.0,3.900,17752.0,5.68,10.33,38.0,37.83,1057.0,barato,Canada,CN

In [83]:
df["badge_local_product"].unique()

array([0, 1])

In [84]:
mapa = {0:"No"}

In [ ]:
df["badge_local_product_2"] = df["badge_local_product"].map(mapa)

In [88]:
df[["badge_local_product", "badge_local_product_2"]]

      badge_local_product badge_local_product_2
0                       0                    No
1                       0                    No
2                       0                    No
3                       0                    No
4                       0                    No
...                   ...                   ...
1568                    0                    No
1569                    0                    No
1570                    0                    No
1571                    0                    No
1572                    0                    No

[1573 rows x 2 columns]

In [89]:
df["badge_local_product_2"].unique()

array(['No', nan], dtype=object)

In [90]:
mapa = {0:"No", np.nan:"Si"}

In [91]:
df["badge_local_product_2"] = df["badge_local_product_2"].map(mapa)

In [92]:
df["badge_local_product_2"].unique()

array([nan, 'Si'], dtype=object)

In [93]:
df["origin_country"].unique()

array(['CN', 'US', nan, 'VE', 'AT', 'SG', 'GB'], dtype=object)

In [94]:
mapa = {"CN":"Candada", "US":"United states", "SG": "SG"}

In [95]:
df["origin_country_2"] = df["origin_country"].map(mapa)

In [96]:
df["origin_country_2"].unique()

array(['Candada', 'United states', nan, 'SG'], dtype=object)