# Qué hemos aprendido hoy:

- Diccionarios:

    - Están compuestos por clave : valor
    - Las claves no se repiten
    - Las claves pueden ser de tipo:
        - Booleano
        - strings
        - int
        - float
        - tuplas

    - Son mutables e "iterables"
    - No tienen orden
    - Propiedades:
        - len()
        - items()
        - values()
        - keys()

    - in y not in lo podemos usar para comprobar si están esas claves o valores

    - Métodos:
     - copy()
     - clear()
     - update() -> actualiza (modifica) una clave que ya existe o crea un par clave valor

In [1]:
adalabers = {"Ana":"promo 49", "Isa": "promo 49", "Carmen": "promo 41", "Ana 2":"promo 41"}

In [2]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41'}

In [3]:
adalabers.get("Pepi", "Esa clave no está")

'Esa clave no está'

In [8]:
adalabers["Pepi"]

KeyError: 'Pepi'

In [9]:
"Ana" in adalabers.keys()

True

In [10]:
adalabers["Ana"]

'promo 49'

In [11]:
adalabers["Ana 3"] = "desconocido"

In [12]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido'}

In [13]:
# cuantas adalabers hay en nuestro diccionario?

len(adalabers)

5

In [14]:
adalabers.keys()

dict_keys(['Ana', 'Isa', 'Carmen', 'Ana 2', 'Ana 3'])

In [15]:
len(adalabers.keys())

5

In [16]:
adalabers2 = {'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': None}

In [17]:
len(adalabers2)

4

In [18]:
l = [1,2,3,4,5]

l[0]

1

error por intentar acceder por el índice

In [19]:
# no podemos acceder por el índice, no tienen orden

adalabers2[0]

KeyError: 0

In [20]:
"""Esto es un comentario 
con
varias
líneas
"""

'Esto es un comentario \ncon\nvarias\nlíneas\n'

In [21]:
l[2]

3

In [22]:
nombre = "promo 49"

nombre[0]

'p'

In [23]:
edad = 44

edad[0]

TypeError: 'int' object is not subscriptable

In [24]:
adalabers2["Ana"]

'promo 49'

In [25]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido'}

In [26]:
adalabers.update({"Marina": "promo 49"})

In [27]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49'}

In [28]:
adalaber = {"Diana": "promo 49"}

In [29]:
adalaber

{'Diana': 'promo 49'}

In [30]:
adalabers.update(adalaber)

In [31]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49'}

In [32]:
mas_adalabers = [("Marianela", "promo 49"), ("Cibi", "promo 49")]

In [33]:
type(mas_adalabers)

list

In [34]:
type(mas_adalabers[0])

tuple

In [35]:
adalabers.update(mas_adalabers)

In [36]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49',
 'Marianela': 'promo 49',
 'Cibi': 'promo 49'}

In [37]:
dict(mas_adalabers)

{'Marianela': 'promo 49', 'Cibi': 'promo 49'}

In [38]:
mas_adalabers2 = [("Marianela", ["promo 49", 25, "a"]), ("Cibi", ["promo 49", 32, "b"])]

In [39]:
dict(mas_adalabers2)

{'Marianela': ['promo 49', 25, 'a'], 'Cibi': ['promo 49', 32, 'b']}

In [40]:
alumna = ("Marianela", ["promo 49", 25, "a"])

In [41]:
len(alumna)

2

In [42]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 41',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49',
 'Marianela': 'promo 49',
 'Cibi': 'promo 49'}

In [43]:
adalabers.update({"Carmen": "promo 43"})

print(adalabers)

{'Ana': 'promo 49', 'Isa': 'promo 49', 'Carmen': 'promo 43', 'Ana 2': 'promo 41', 'Ana 3': 'desconocido', 'Marina': 'promo 49', 'Diana': 'promo 49', 'Marianela': 'promo 49', 'Cibi': 'promo 49'}

In [44]:
adalabers.pop()

TypeError: pop expected at least 1 argument, got 0

In [45]:
type(adalabers)

dict

In [46]:
notas = {"Ana": [7,8, 6.9], "Adriana": [8,7,9, [5,8,7]]}

In [47]:
notas

{'Ana': [7, 8, 6.9], 'Adriana': [8, 7, 9, [5, 8, 7]]}

In [48]:
type(notas)

dict

In [49]:
notas.values()

dict_values([[7, 8, 6.9], [8, 7, 9, [5, 8, 7]]])

In [50]:
notas.keys()

dict_keys(['Ana', 'Adriana'])

In [51]:
notas["Ana"]

[7, 8, 6.9]

In [52]:
type(notas["Ana"])

list

In [53]:
print(notas)

{'Ana': [7, 8, 6.9], 'Adriana': [8, 7, 9, [5, 8, 7]]}

In [54]:
notas["Ana"][1]

8

In [55]:
notas["Ana"]

[7, 8, 6.9]

In [56]:
notas["Ana"].append(9)

In [57]:
notas

{'Ana': [7, 8, 6.9, 9], 'Adriana': [8, 7, 9, [5, 8, 7]]}

In [58]:
notas

{'Ana': [7, 8, 6.9, 9], 'Adriana': [8, 7, 9, [5, 8, 7]]}

In [59]:
notas["Ana"]

[7, 8, 6.9, 9]

In [60]:
notas["Ana"][1]

8

In [61]:
notas

{'Ana': [7, 8, 6.9, 9], 'Adriana': [8, 7, 9, [5, 8, 7]]}

In [62]:
notas["Adriana"]

[8, 7, 9, [5, 8, 7]]

In [63]:
notas["Adriana"][-1]

[5, 8, 7]

In [64]:
notas["Adriana"][-1][0]

5

In [65]:
notas["Adriana"][-1]

[5, 8, 7]

In [66]:
notas["Adriana"][-1].pop()

7

In [67]:
print(notas)

{'Ana': [7, 8, 6.9, 9], 'Adriana': [8, 7, 9, [5, 8]]}

In [68]:
otro = {"Sara": {"mod1":7, "mod2":9}, "Cristina": {"mod1":9, "mod2":8}}

In [69]:
l = ["a", "b", "c"]

In [70]:
l.remove(0)

ValueError: list.remove(x): x not in list

In [71]:
l.remove("a")

In [72]:
print(l)

['b', 'c']

In [73]:
l.pop(0)

'b'

In [74]:
print(l)

['c']

In [75]:
print(otro)

{'Sara': {'mod1': 7, 'mod2': 9}, 'Cristina': {'mod1': 9, 'mod2': 8}}

In [76]:
type(otro)

dict

In [77]:
otro["Sara"]

{'mod1': 7, 'mod2': 9}

In [78]:
otro["Sara"]["mod2"]

9

In [79]:
print(otro)

{'Sara': {'mod1': 7, 'mod2': 9}, 'Cristina': {'mod1': 9, 'mod2': 8}}

In [80]:
otro["Sara"]["mod2"]

9

In [81]:
otro_mas = {'Sara': {'mod1': 7, 'mod2': 9}, 'Cristina': {'mod1': [8,5,8], 'mod2': 8}}

In [82]:
otro_mas["Cristina"]

{'mod1': [8, 5, 8], 'mod2': 8}

In [83]:
otro_mas["Cristina"]["mod1"]

[8, 5, 8]

In [84]:
otro_mas["Cristina"]["mod1"][1]

5

In [85]:
otro_mas2 = {'Sara': {'mod1': 7, 'mod2': 9}, 'Cristina': {'mod1': [8,5,[8,8,9]], 'mod2': {"fecha":["2-4-2024", "3-7-2022"]}}}

In [86]:
print(otro_mas2)

{'Sara': {'mod1': 7, 'mod2': 9}, 'Cristina': {'mod1': [8, 5, [8, 8, 9]], 'mod2': {'fecha': ['2-4-2024', '3-7-2022']}}}

In [87]:
otro_mas2["Cristina"]

{'mod1': [8, 5, [8, 8, 9]], 'mod2': {'fecha': ['2-4-2024', '3-7-2022']}}

In [88]:
otro_mas2["Cristina"].keys()

dict_keys(['mod1', 'mod2'])

In [89]:
otro_mas2["Cristina"]["mod2"]

{'fecha': ['2-4-2024', '3-7-2022']}

In [90]:
otro_mas2["Cristina"]["mod2"].keys()

dict_keys(['fecha'])

In [91]:
otro_mas2["Cristina"]["mod2"]["fecha"]

['2-4-2024', '3-7-2022']

In [92]:
otro_mas2["Cristina"]["mod2"]["fecha"].keys()

AttributeError: 'list' object has no attribute 'keys'

In [93]:
otro_mas2["Cristina"]["mod2"]["fecha"][1]

'3-7-2022'

In [94]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 43',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49',
 'Marianela': 'promo 49',
 'Cibi': 'promo 49'}

In [97]:
nombre2 = "Cibi"

In [98]:
nombre = input("Dime el nombre")

In [99]:
nombre

''

In [100]:
adalabers[nombre2]

'promo 49'

In [101]:
adalabers["Cibi"]

'promo 49'

In [102]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 43',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49',
 'Marianela': 'promo 49',
 'Cibi': 'promo 49'}

In [105]:
adalabers.setdefault("Ana")

'promo 49'

In [107]:
adalabers

{'Ana': 'promo 49',
 'Isa': 'promo 49',
 'Carmen': 'promo 43',
 'Ana 2': 'promo 41',
 'Ana 3': 'desconocido',
 'Marina': 'promo 49',
 'Diana': 'promo 49',
 'Marianela': 'promo 49',
 'Cibi': 'promo 49',
 'Sara': 'promo 49'}

In [108]:
print(adalabers)

{'Ana': 'promo 49', 'Isa': 'promo 49', 'Carmen': 'promo 43', 'Ana 2': 'promo 41', 'Ana 3': 'desconocido', 'Marina': 'promo 49', 'Diana': 'promo 49', 'Marianela': 'promo 49', 'Cibi': 'promo 49', 'Sara': 'promo 49'}