# for

    - itera sobre secuencias (pasa por todos los elementos de un "contenedor")
    - podemos iterar por:
        - listas
        - tuplas
        - diccionarios
        - cadenas

In [36]:
num = 1874879087.49587854

for i in num:
    print(i)

TypeError: 'float' object is not iterable

In [33]:
cadena = "Hoy es viernes ðŸ™Œ"

for letra in cadena:
    print(letra)
    print("-------------------------")

H
-------------------------
o
-------------------------
y
-------------------------

-------------------------
e
-------------------------
s
-------------------------

-------------------------
v
-------------------------
i
-------------------------
e
-------------------------
r
-------------------------
n
-------------------------
e
-------------------------
s
-------------------------

-------------------------
ðŸ™Œ
-------------------------

In [34]:
len(cadena)

16

In [31]:
alumnas = ["Marina", "Maleni", "Sara"]

for nombre in alumnas:
    print(nombre)
    print("-----------------------------------------------")

Marina
-----------------------------------------------
Maleni
-----------------------------------------------
Sara
-----------------------------------------------

In [35]:
len(alumnas)

3

In [38]:
edades = [23, 54, 12, 37]

for elemento in edades:
    print(elemento)
    print("------------------------------")

23
------------------------------
54
------------------------------
12
------------------------------
37
------------------------------

In [40]:
54 * 100

5400

In [41]:
edades = [23, 54, 12, 37]

for elemento in edades:
    print(elemento*100)
    print("------------------------------")

2300
------------------------------
5400
------------------------------
1200
------------------------------
3700
------------------------------

In [46]:
numeros = [1,2,3,4,5,6,7,8,9,10]

In [ ]:


if x % 2 == 0:
    print(x)

In [42]:
if 1 % 2 == 0:
    print(1)

In [43]:
if 2 % 2 == 0:
    print(2)

2

In [44]:
if 3 % 2 == 0:
    print(3)

In [49]:
for n in numeros:
    if n % 2 == 0:
        print(n)
    else:
        pass

2
4
6
8
10

In [50]:
for n in numeros:
    if n % 2 == 0:
        print(n)
    else:
        print("impar")

impar
2
impar
4
impar
6
impar
8
impar
10

In [58]:
lista_str = []

for i in range(5):
    print(i)
    if i == 2:
        print("he entrado en if")
        lista_str.append(str(i))

    print("--------------------------------------------------------")

print(lista_str)

0
--------------------------------------------------------
1
--------------------------------------------------------
2
he entrado en if
--------------------------------------------------------
3
--------------------------------------------------------
4
--------------------------------------------------------
['2']

In [62]:


for i in range(5):
    lista_str = []
    
    print(lista_str)
    print(i)
    if i == 4:
        print("he entrado en if")
        lista_str.append(str(i))
    
    print("--------------------------------------------------------")

print(lista_str)

[]
0
--------------------------------------------------------
[]
1
--------------------------------------------------------
[]
2
--------------------------------------------------------
[]
3
--------------------------------------------------------
[]
4
he entrado en if
--------------------------------------------------------
['4']

In [63]:
for i in range(5):
    lista_num = []
    lista_num.append(i)
    print(i)


print(lista_num)

0
1
2
3
4
[4]

In [64]:
lista_num = []

for i in range(5):
    
    lista_num.append(i)
    print(i)


print(lista_num)

0
1
2
3
4
[0, 1, 2, 3, 4]

In [81]:
# 14. Pide al usuario un nÃºmero entero positivo y suma los nÃºmeros pares e impares por separado hasta ese nÃºmero.
numero = int(input("Ingresa un nÃºmero entero positivo: "))
pares = []
impares = []

for i in range(1,numero+1):

    if i % 2 == 0:
        pares.append(i)

    else:
        impares.append(i)

print(sum(pares), pares)
print(sum(impares), impares)

12 [2, 4, 6]
9 [1, 3, 5]

In [75]:
numero = int(input("Ingresa un nÃºmero entero positivo: "))

for i in range(1, numero+1):
    print(i)

1
2
3
4
5
6

In [85]:
# numero = int(input("Ingresa un nÃºmero entero positivo: "))
pares = 0
impares = 0

for i in range(1,7):

    if i % 2 == 0:
        pares += i # pares = pares + i

    else:
        impares += i

print(pares)
print(impares)

12
9

In [82]:
pares = 0

pares = pares + 7

print(pares)

7

In [83]:
pares = 0

pares += 7

print(pares)

7

In [88]:
compra = {"tomates": 3, "manzanas": 5}

In [89]:
for elemento in compra:
    print(elemento)

tomates
manzanas

In [95]:
unidades = 0

for elemento in compra.values():
    unidades += elemento

In [96]:
print(unidades)

8

In [97]:
compra.items()

dict_items([('tomates', 3), ('manzanas', 5)])

In [99]:
for key, value in compra.items():
    print(key, "->", value)
    print("---------------------------")

tomates -> 3
---------------------------
manzanas -> 5
---------------------------

In [100]:
for key, value in compra:
    print(key, "->", value)
    print("---------------------------")

ValueError: too many values to unpack (expected 2)

In [102]:
for k in compra.items():
    print(k)
    print("---------------------------")

('tomates', 3)
---------------------------
('manzanas', 5)
---------------------------

In [103]:
t = ('tomates', 3)

In [104]:
a , b = t

In [105]:
a

'tomates'

In [106]:
b

3

In [109]:
temp = ["1", "2", "3"]

In [108]:
int(temp)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [110]:
temp = [int(temp[0]), int(temp[1]), int(temp[2])]

print(temp)

[1, 2, 3]

In [111]:
temp = ["1", "2", "3"]

In [112]:
temp_2 = []

for t in temp:
    temp_2.append(int(t))

temp_2

[1, 2, 3]

In [113]:
temp = ["1", "2", "manzanas"]

temp_2 = []

for t in temp:
    temp_2.append(int(t))

temp_2

ValueError: invalid literal for int() with base 10: 'manzanas'

In [118]:
temp = ["1", "2", "manzanas", "4"]

temp_2 = []

for t in temp:
    try:
        temp_2.append(int(t))
    except:
        print("no puedo")

temp_2

no puedo

[1, 2, 4]

In [115]:
try:
    int("manzanas")
except:
    print("no puedo")

no puedo

In [126]:
temp = ["1", "2", "manzanas", "4"]

temp_2 = []

for t in temp:
    try:
        temp_2.append(int(t))

    except:
        
        print("no puedo", t)
        continue
        
        

temp_2

no puedo manzanas

[1, 2, 4]