# Clases

- Es un esquema (plantilla) de un objeto
- Tiene atributos (características) y métodos (acciones)

In [1]:
lista_nums = [1,2,3,4,5,6]

In [2]:
print(type(lista_nums))

<class 'list'>

In [3]:
lista_nums.append(7)

In [4]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [22]:
class Juegos:

    def ahorcado(self):

        print("vamos a jugar al ahorcado")

    def p_p_t(self):

        print("vamos a jugar a piedra, papel, tijera")

    def preguntas(self):

        print("vamos a jugar a preguntas")

    def otro(self):

        print("vamos a jugar a otro")

    def jugar(self):

        juego = input("a qué quieres jugar")

In [23]:
jugador_1 = Juegos()

In [24]:
jugador_1.p_p_t()

vamos a jugar a piedra, papel, tijera

In [25]:
jugador_1.preguntas()

vamos a jugar a preguntas

In [26]:
jugador_1.otro()

vamos a jugar a otro

In [68]:
class Alumna:

    """aquí va la documentación
    de mi clase"""

    def __init__(self, nombre, edad, ciudad = "desc"):
        self.nombre = nombre
        self.edad = edad
        self.ciudad = ciudad
        self.ordenadores = {}

    def informacion(self):
        self.info = self.nombre, self.edad, self.ciudad

        print(f"La alumna se llama {self.nombre} tiene {self.edad} años y vive en {self.ciudad}")
        print(self.info)

    def info_2(self):
        print(self.info)

    def programas(self, instalacion):
        
        opcion = input("Lo has intalado")

        if opcion.lower() not in ["si", "no"]:
            print("error")

        else:
            self.ordenadores[instalacion] = opcion.lower()

In [55]:
alumna_1 = Alumna("Marina", 24)

In [41]:
alumna_1.nombre

'Marina'

In [42]:
alumna_1.ciudad

'desc'

In [43]:
alumna_1.ciudad = "Leon"

In [44]:
alumna_1.ciudad

'Leon'

In [35]:
alumna_1.info

AttributeError: 'Alumna' object has no attribute 'info'

In [46]:
alumna_1.informacion()

La alumna se llama Marina tiene 24 años y vive en Leon
('Marina', 24, 'Leon')

In [37]:
alumna_1.info

('Marina', 24, 'Coruña')

In [38]:
alumna_1.info_2()

('Marina', 24, 'Coruña')

In [47]:
alumna_1.__dict__

{'nombre': 'Marina',
 'edad': 24,
 'ciudad': 'Leon',
 'info': ('Marina', 24, 'Leon')}

In [48]:
alumna_2 = Alumna("Sara", 27)

In [49]:
alumna_2.__dict__

{'nombre': 'Sara', 'edad': 27, 'ciudad': 'desc'}

In [50]:
d = {}

def programa(instalacion):

    d[instalacion] = "si"

In [51]:
programa("vs code")

In [52]:
print(d)

{'vs code': 'si'}

In [53]:
programa("slack")

print(d)

{'vs code': 'si', 'slack': 'si'}

In [56]:
alumna_1.__dict__

{'nombre': 'Marina', 'edad': 24, 'ciudad': 'desc', 'ordenadores': {}}

In [57]:
alumna_1.programas("vs code")

In [58]:
alumna_1.ordenadores

{'vs code': 'si'}

In [59]:
ins = ["sql", "Slack", "power bi"]

In [60]:
for p in ins:
    print(p)

sql
Slack
power bi

In [61]:
for p in ins:
    alumna_1.programas(p)

In [62]:
alumna_1.ordenadores

{'vs code': 'si', 'sql': 'si', 'Slack': 'si', 'power bi': 'si'}

In [63]:
nombres = ["Sara", "Isa", "MArianela"]

In [64]:
for n in nombres:
    print(n.upper())

SARA
ISA
MARIANELA

In [65]:
alumna_1.ordenadores

{'vs code': 'si', 'sql': 'si', 'Slack': 'si', 'power bi': 'si'}

In [66]:
for p in ins:
    alumna_1.programas(p.upper())

In [67]:
alumna_1.ordenadores

{'vs code': 'si',
 'sql': 'si',
 'Slack': 'si',
 'power bi': 'si',
 'SQL': 'si',
 'SLACK': 'si',
 'POWER BI': 'si'}

In [69]:
alumna_3 = Alumna("Isa", 30, "Madrid")

In [70]:
alumna_3.__dict__

{'nombre': 'Isa', 'edad': 30, 'ciudad': 'Madrid', 'ordenadores': {}}

In [71]:
alumna_3.programas("sql")

error

In [72]:
alumna_3.programas("sql")

In [73]:
alumna_3.ordenadores

{'sql': 'si'}

In [74]:
alumna_3.programas("power bi")

In [75]:
alumna_3.ordenadores

{'sql': 'si', 'power bi': 'no'}

In [76]:
alumna_3.__dict__

{'nombre': 'Isa',
 'edad': 30,
 'ciudad': 'Madrid',
 'ordenadores': {'sql': 'si', 'power bi': 'no'}}

In [83]:
class Alumna_2:

    """aquí va la documentación
    de mi clase"""

    def __init__(self, nombre, edad, ciudad = "desc"):
        self.nombre = nombre
        self.edad = edad
        self.ciudad = ciudad
        self.ordenadores = {}

    def informacion(self):
        self.info = self.nombre, self.edad, self.ciudad

        print(f"La alumna se llama {self.nombre} tiene {self.edad} años y vive en {self.ciudad}")
        print(self.info)

    def info_2(self):
        print(self.info)

    def programas(self, instalacion):

        intentos = 3

        while intentos != 0:

            intentos -= 1
        
            opcion = input("Lo has intalado")

            if opcion.lower() not in ["si", "no"]:
                print("error")
                continue

            else:
                self.ordenadores[instalacion] = opcion.lower()
                break

In [84]:
alumna_5 = Alumna_2("Amanda", 25, "Cadiz")

In [85]:
alumna_5.__dict__

{'nombre': 'Amanda', 'edad': 25, 'ciudad': 'Cadiz', 'ordenadores': {}}

In [82]:
intentos = 0
intentos != 0

False

In [86]:
alumna_5.programas("sql")

In [87]:
alumna_5.ordenadores

{'sql': 'no'}

In [88]:
alumna_5.programas("power bi")

error
error
error

In [89]:
alumna_5.ordenadores

{'sql': 'no'}

In [90]:
alumna_5.programas("power bi")

error

In [91]:
alumna_5.ordenadores

{'sql': 'no', 'power bi': 'si'}